{% extends "layout.html" %}


{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>


<div class="photo-gallery">
    <div class="container">
        <div class="intro">
            <h3>
                Karen Stepanyan Artwork
            </h3>
            <p class="subtext">
                All artwork shown are made original by Karen Stepanyan.
            </p>
        </div>
        <div class="row photos">
            <div class="col-sm-6 col-md-4 col-lg-3 item">
                <a href="{{ url_for('static', filename='../static/images/a_castel.jpg') }}" data-lightbox="photos" 
                data-title="A Castel / Linna, 2022. <br> <br>
                
                A Castel is a stunning and thought-provoking abstract fine art piece that is sure to captivate and inspire. The vibrant colors of gold, green, and white create a sense of energy and movement, and the interplay between these hues is both striking and harmonious. <br> <br>

                As you gaze upon this artwork, you may find yourself drawn into its depths, as the shapes and forms seem to shift and change before your eyes. This sense of fluidity is enhanced by the use of bold brushstrokes and expressive lines, which lend the piece a sense of movement and dynamism. <br> <br>
                
                But beyond its visual appeal, A Castel also holds a deeper philosophical meaning. The title itself, with its reference to the grandeur and majesty of a castle, suggests a sense of strength and resilience, as well as a connection to the past. And as you delve into the abstract forms and shapes that make up the piece, you may find yourself reflecting on your own place in the world, and the many ways in which you are shaped and influenced by the forces around you. <br> <br>
                
                A Castel is a truly breathtaking abstract fine art piece that is sure to inspire and delight. Its beauty and depth make it a true masterpiece, and a testament to the power and potential of abstract art.">
                <img class="img-fluid" src="{{ url_for('static', filename='../static/images/a_castel.jpg') }}">
            </a>
        </div>
            <div class="col-sm-6 col-md-4 col-lg-3 item">
                <a href="{{ url_for('static', filename='../static/images/the_bay.jpg') }}" data-lightbox="photos" 
                data-title="The bay / Lahti, 2022. <br> <br>
                
                The bay is an abstract art work that incorporates the colors gold, turquoise, and white. The title suggests that the piece may be inspired by the concept of a bay or a body of water. <br> <br>

                The use of gold and turquoise in the work could potentially symbolise the richness and beauty of the natural world, as well as the connection between the land and the sea. The white color may represent clarity and purity, adding a sense of serenity to the piece. <br> <br>
                
                The bay seems to be a deeply meaningful work that captures the essence of the natural world and the connections between different elements within it. It is likely that the piece evokes a sense of wonder and appreciation for the beauty and complexity of the world around us.">
                <img class="img-fluid" src="{{ url_for('static', filename='../static/images/the_bay.jpg') }}">
            </a>
        </div>
            <div class="col-sm-6 col-md-4 col-lg-3 item">
                <a href="{{ url_for('static', filename='../static/images/the_home.jpg') }}" 
                data-lightbox="photos"
                data-title="The home / Koti, 2022. <br> <br>
                
                The home is a minimalistic artwork that features warm colors of blue, beige, and brown. The title suggests that the piece may be inspired by the concept of home, and may depict a lonely house that is far away in the memory of the artist. <br> <br>

                According to the description provided, the picture was painted in a deep memory of home and homesickness, suggesting that the artist is facing loneliness in this world and is longing for the feeling of being at home. The use of warm colors such as blue, beige, and brown may add a sense of comfort and familiarity to the piece, as well as a feeling of warmth and coziness. <br> <br>
                
                The minimalistic style of the work may suggest a sense of simplicity and purity, as well as a focus on the essential elements of the image. This style may also highlight the emotional impact of the piece, as the absence of unnecessary distractions allows the viewer to fully engage with the feelings and memories depicted in the work. <br> <br>
                
                The home seems to be a deeply emotional and introspective work that captures the essence of longing for home and the sense of loneliness that can be experienced in the absence of it. It is likely that the piece evokes a sense of nostalgia and longing, as well as the idea of exploring the complex and multifaceted emotions associated with the concept of home.">
                <img class="img-fluid" src="{{ url_for('static', filename='../static/images/the_home.jpg') }}">
            </a>
        </div>
            <div class="col-sm-6 col-md-4 col-lg-3 item">
                <a href="{{ url_for('static', filename='../static/images/lost_memories.jpg') }}" data-lightbox="photos"
                data-title="Lost memories / Kadonneita muistoja, 2022. <br> <br>
                
                Lost memories is a minimalistic artwork that features warm colors of blue and beige. The painting depicts the shape of an unknown building against a deep, light sky. <br> <br>

                It was painted as an attempt by the artist to recall familiar places from the past, and the work reflects a sense of detachment and a longing to remember the artist's past self. <br> <br>
                
                The void in memory is filled with the noise of the future, as the artist strives to be present in the present moment. The use of minimalistic techniques and a limited color palette adds to the sense of introspection and reflection that is central to the work. <br> <br>
                
                Lost memories is a thought-provoking and emotive piece that invites the viewer to consider their own relationship with the past and the present.">
                    <img class="img-fluid" src="{{ url_for('static', filename='../static/images/lost_memories.jpg') }}">
                </a>
        </div>
            <div class="col-sm-6 col-md-4 col-lg-3 item">
                <a href="{{ url_for('static', filename='../static/images/power_nap.jpg') }}" data-lightbox="photos"
                data-title="A power nap / Tehokkaat päiväunet, 2022. <br> <br>
                
                A power nap is an abstract art work that features the colors red, orange, blue, and military green. The title suggests that the piece may be inspired by the concept of taking a short, restorative nap to recharge after a hard day of work. <br> <br>
    
                The use of red and orange in the work could potentially symbolize energy, vitality, and passion, as well as the warmth and comfort that can be found in rest and relaxation. The blue color may represent calmness and serenity, adding a sense of balance and peace to the piece. The military green color may add a sense of strength and determination, suggesting the importance of being able to recharge and refocus in order to face challenges. <br> <br>
    
                A power nap seems to be a dynamic and energetic work that captures the essence of rest and rejuvenation. It is likely that the piece evokes a sense of renewal and refreshment, as well as the importance of taking care of oneself in order to maintain energy and productivity.">
                    <img class="img-fluid" src="{{ url_for('static', filename='../static/images/power_nap.jpg') }}">
                </a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 item">
                <a href="{{ url_for('static', filename='../static/images/miami.jpg') }}" data-lightbox="photos"
                data-title="Miami, 2022. <br> <br>
                
                Miami is an abstract artwork that features the colors neon purple, neon blue, white, and black. The title suggests that the piece may be inspired by the concept of a hotline, which is a telephone line that is dedicated to providing a specific service or information. <br> <br>

                The use of neon purple and neon blue in the work could potentially symbolise energy, vibrancy, and a sense of excitement. These colors, combined with the use of white and black, could create a visually striking and eye-catching piece that captures the essence of the neon Miami era. <br> <br>

                The neon colors may suggest a sense of playfulness and fun, as well as a feeling of being alive and engaged with the world. The black and white colors may add contrast and depth to the piece, creating a sense of balance and complexity. <br> <br>

                Miami seems to be a lively and dynamic work that captures the essence of the neon Miami era and the excitement and energy that it represents. It is likely that the piece evokes a sense of fun and playfulness, as well as the idea of connection and communication.">
                    <img class="img-fluid" src="{{ url_for('static', filename='../static/images/miami.jpg') }}">
                </a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 item">
                <a href="{{ url_for('static', filename='../static/images/the_monday.jpg') }}" data-lightbox="photos"
                data-title="The monday / Maanantai, 2022. <br> <br>
                Monday is an abstract artwork that features the colors toxic green, toxic blue, red, and orange. The title suggests that the piece may be inspired by the concept of Monday, and may explore the feelings and emotions associated with the start of a new week. <br> <br>

                The use of toxic green and toxic blue in the work could potentially symbolise a sense of negativity, unease, or even danger. These colors, combined with the use of red and orange, could create a visually striking and eye-catching piece that captures the essence of the anxiety and stress that can often be associated with Monday. <br> <br>

                The use of red and orange may suggest a sense of energy, intensity, and passion, as well as a feeling of excitement or urgency. These colors may also represent the challenges and obstacles that we may face on Monday as we start a new week. <br> <br>

                Monday seems to be a dynamic and emotionally charged work that captures the essence of the feelings and emotions associated with the start of a new week. It is likely that the piece evokes a sense of anxiety and stress, as well as the idea of facing challenges and overcoming obstacles.">
                    <img class="img-fluid" src="{{ url_for('static', filename='../static/images/the_monday.jpg') }}">
                </a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 item">
                <a href="{{ url_for('static', filename='../static/images/discussion.jpg') }}" data-lightbox="photos"
                data-title="A Discussion / Keskustelu, 2022. <br> <br>
                
                A Discussion is an abstract artwork that features the colors orange, purple, and turquoise. The title suggests that the piece may be inspired by the concept of a discussion, and may depict a group of people or characters who are having a very intensive conversation.<br> <br>

                The use of orange and purple in the work could potentially symbolize creativity, uniqueness, and individuality, as well as a sense of excitement and energy. These colors may suggest that the discussion depicted in the piece is lively and dynamic, with participants bringing their own perspectives and ideas to the table. <br> <br>

                The turquoise color may represent clarity, communication, and openness, suggesting that the discussion is open and transparent.<br> <br>

                Discussion seems to be a vibrant and dynamic work that captures the essence of a lively and intensive conversation. It is likely that the piece evokes a sense of excitement and energy, as well as the idea of exploring different perspectives and ideas.">
                    <img class="img-fluid" src="{{ url_for('static', filename='../static/images/discussion.jpg') }}">
                </a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 item">
                <a href="{{ url_for('static', filename='../static/images/communication.jpg') }}" data-lightbox="photos"
                data-title="A communication / Kommunikaatio, 2022. <br> <br>
                
                A communication is an abstract art work that features the colors brown, red, blue, and pink. The title suggests that the piece may be inspired by the concept of communication, and may depict the various elements and channels through which people communicate with one another.<br> <br>

                The use of brown and red in the work could potentially symbolise warmth, comfort, and a sense of connection. These colors may suggest that the communication depicted in the piece is intimate and personal, and that there is a strong emotional bond between the participants.<br> <br>

                The blue color may represent clarity, communication, and openness, suggesting that the communication is clear and transparent. The pink color may add a sense of playfulness and fun, as well as a feeling of tenderness and affection.<br> <br>

                A communication seems to be a warm and intimate work that captures the essence of meaningful and personal communication. It is likely that the piece evokes a sense of connection and emotional bonding, as well as the idea of exploring different channels of communication.">
                    <img class="img-fluid" src="{{ url_for('static', filename='../static/images/communication.jpg') }}">
                </a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 item">
                <a href="{{ url_for('static', filename='../static/images/breakfast.jpg') }}" data-lightbox="photos"
                data-title="Breakfast / Aamupala, 2022. <br> <br>
                
                Breakfast is an abstract artwork that features the colors red, yellow, and black. The painting depicts the shape of an unknown breakfast, and it was painted as an attempt by the artist to remember what they had eaten during breakfast. <br> <br>

                The work reflects a sense of uncertainty and a desire to recall the specific details of the meal. The use of bold, bright colors and abstract shapes adds to the sense of mystery and uncertainty that is central to the work. <br> <br>

                The viewer is invited to consider their own relationship with food and memory, and to ponder the role that breakfast plays in their daily routine. <br> <br>

                Breakfast is a visually striking and thought-provoking piece that invites the viewer to reflect on the relationship between memory, appetite, and the everyday.">
                    <img class="img-fluid" src="{{ url_for('static', filename='../static/images/breakfast.jpg') }}">
                </a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 item">
                <a href="{{ url_for('static', filename='../static/images/strawberry_milkshake.jpg') }}" data-lightbox="photos"
                data-title="A strawberry milkshake / Mansikkapirtelö, 2022. <br> <br>
                
                A strawberry milkshake is an abstract artwork that features the colors red, light red, and deep purple. The painting depicts one of the artist's favourite milkshakes, and it is likely to be characterised by bold, expressive brushstrokes and a vibrant color palette. The work may be interpreted as a celebration of the joy and pleasure that the artist derives from this particular drink, and it could evoke feelings of nostalgia, happiness, and indulgence in the viewer.<br> <br>

                The use of abstract techniques and a vibrant color scheme likely adds to the sense of emotion and energy that is central to the work. The viewer may be drawn in by the bold, expressive brushstrokes and the vibrant colors, and may be invited to consider their own memories and associations with milkshakes. <br> <br>

                A strawberry milkshake is a lively and evocative piece that celebrates the joys of indulgence and the power of memory.">
                    <img class="img-fluid" src="{{ url_for('static', filename='../static/images/strawberry_milkshake.jpg') }}">
                </a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 item">
                <a href="{{ url_for('static', filename='../static/images/thoughts.jpg') }}" data-lightbox="photos"
                data-title="Thoughts / Ajatuksia, 2022. <br> <br>
                
                Thoughts is an abstract artwork that features the colors gold, green, and black. The title suggests that the piece may be inspired by the concept of thoughts, and may explore the idea of the dialog that takes place inside of our minds. <br> <br>

                The use of gold in the work could potentially symbolise wisdom, enlightenment, and inner truth. The green color may represent growth, renewal, and a sense of connection to the natural world. The black color may add depth and complexity to the piece, as well as a sense of mystery and unknown. <br> <br>
                
                Thoughts seems to be a deeply meaningful work that captures the essence of introspection and self-reflection. It is likely that the piece evokes a sense of understanding and insight, as well as the idea of exploring the inner workings of the mind.">
                    <img class="img-fluid" src="{{ url_for('static', filename='../static/images/thoughts.jpg') }}">
                </a>
            </div>
        </div>
        
        
    </div>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
{% endblock %}