{% extends "layout.html" %}


{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>

<div class="photo-gallery">
    <div class="container">
        <div class="intro">
            <h3>
                Karen Stepanyan Artwork
            </h3>
            <p class="subtext">
                All artwork shown are made original by Karen Stepanyan.
            </p>
        </div>
        <div class="row photos">
            <div class="col-sm-6 col-md-4 col-lg-3 item">
                <a href="{{ url_for('static', filename='../static/images/a_castel.jpg') }}" data-lightbox="photos" 
                data-title="A Castel / Linna, 2022. A Castel is a stunning and thought-provoking abstract fine art piece that is sure to captivate and inspire. The vibrant colors of gold, green, and white create a sense of energy and movement, and the interplay between these hues is both striking and harmonious. 

                As you gaze upon this artwork, you may find yourself drawn into its depths, as the shapes and forms seem to shift and change before your eyes. This sense of fluidity is enhanced by the use of bold brushstrokes and expressive lines, which lend the piece a sense of movement and dynamism.
                
                But beyond its visual appeal, A Castel also holds a deeper philosophical meaning. The title itself, with its reference to the grandeur and majesty of a castle, suggests a sense of strength and resilience, as well as a connection to the past. And as you delve into the abstract forms and shapes that make up the piece, you may find yourself reflecting on your own place in the world, and the many ways in which you are shaped and influenced by the forces around you. 
                
                A Castel is a truly breathtaking abstract fine art piece that is sure to inspire and delight. Its beauty and depth make it a true masterpiece, and a testament to the power and potential of abstract art.">
                <img class="img-fluid" src="{{ url_for('static', filename='../static/images/a_castel.jpg') }}">
            </a>
        </div>
            <div class="col-sm-6 col-md-4 col-lg-3 item">
                <a href="{{ url_for('static', filename='../static/images/the_bay.jpg') }}" data-lightbox="photos" 
                data-title="The bay is an abstract art work that incorporates the colors gold, turquoise, and white. The title suggests that the piece may be inspired by the concept of a bay or a body of water. 

                The use of gold and turquoise in the work could potentially symbolise the richness and beauty of the natural world, as well as the connection between the land and the sea. The white color may represent clarity and purity, adding a sense of serenity to the piece. 
                
                The bay seems to be a deeply meaningful work that captures the essence of the natural world and the connections between different elements within it. It is likely that the piece evokes a sense of wonder and appreciation for the beauty and complexity of the world around us.">
                <img class="img-fluid" src="{{ url_for('static', filename='../static/images/the_bay.jpg') }}">
            </a>
        </div>
            <div class="col-sm-6 col-md-4 col-lg-3 item">
                <a href="{{ url_for('static', filename='../static/images/the_home.jpg') }}" 
                data-lightbox="photos"
                data-title="The home is a minimalistic artwork that features warm colors of blue, beige, and brown. The title suggests that the piece may be inspired by the concept of home, and may depict a lonely house that is far away in the memory of the artist.

                According to the description provided, the picture was painted in a deep memory of home and homesickness, suggesting that the artist is facing loneliness in this world and is longing for the feeling of being at home. The use of warm colors such as blue, beige, and brown may add a sense of comfort and familiarity to the piece, as well as a feeling of warmth and coziness.
                
                The minimalistic style of the work may suggest a sense of simplicity and purity, as well as a focus on the essential elements of the image. This style may also highlight the emotional impact of the piece, as the absence of unnecessary distractions allows the viewer to fully engage with the feelings and memories depicted in the work.
                
                The home seems to be a deeply emotional and introspective work that captures the essence of longing for home and the sense of loneliness that can be experienced in the absence of it. It is likely that the piece evokes a sense of nostalgia and longing, as well as the idea of exploring the complex and multifaceted emotions associated with the concept of home.">
                <img class="img-fluid" src="{{ url_for('static', filename='../static/images/the_home.jpg') }}">
            </a>
        </div>
            <div class="col-sm-6 col-md-4 col-lg-3 item">
                <a href="{{ url_for('static', filename='../static/images/lost_memories.jpg') }}" data-lightbox="photos"
                data-title="Lost memories is a minimalistic artwork that features warm colors of blue and beige. The painting depicts the shape of an unknown building against a deep, light sky. 

                It was painted as an attempt by the artist to recall familiar places from the past, and the work reflects a sense of detachment and a longing to remember the artist's past self. 
                
                The void in memory is filled with the noise of the future, as the artist strives to be present in the present moment. The use of minimalistic techniques and a limited color palette adds to the sense of introspection and reflection that is central to the work. 
                
                Lost memories is a thought-provoking and emotive piece that invites the viewer to consider their own relationship with the past and the present.">
                    <img class="img-fluid" src="{{ url_for('static', filename='../static/images/lost_memories.jpg') }}">
                </a>
            </div>
        </div>
    </div>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
{% endblock %}